{% extends 'Base_event.html' %}
{% block content  %}


        <div class="card bg-light mb-2`" >
          <div class="row no-gutters">
            <div class="col-md-4">
                <img src="{{ search.thumbnail.url }}" class="card-img" alt="...">

            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ search.id }}</h5>
                <p class="card-text">
                  <h3> Title: </h3><h4> {{ search.title }}</h4> <br>
                   <h3> Date: </h3> {{ search.date }} <br>
                   <h3> Time: </h3> {{ search.time }} <br>

                </p>
                <p class="card-text"><small class="text-muted"></small></p>
{#  updatecart/product_id #}
                  <a href="" ></a>


              </div>
            </div>
          </div>
        </div>
{% endblock content %}