.idea
.idea/workspace.xml
*.sqlite3
*.pyc
*.pyc
*.pyc
*.xml
*.pyc
Online_Art_Gallery/__pycache__/settings.cpython-38.pyc
*.xml
.idea/workspace.xml
Online_Art_Gallery/__pycache__/urls.cpython-38.pyc
*.pyc
*.pyc
*.sqlite3
*.pyc
*.xml
*.xml
.idea/workspace.xml
*.xml
*.pyc
*.xml
*.pyc
*.xml
*.xml
.idea/workspace.xml
*.pyc
*.xml
*.xml
*.xml
*.pyc
*.xml
*.pyc
*.sqlite3
*.pyc
