{% extends 'Base.html' %}

{% load static %}

{% block content %}


    <h3 align="center"><i>Welcome to Artisans club</i></h3><br>
    <center><img src="https://previews.123rf.com/images/karnav/karnav1612/karnav161202322/69695958-paints-and-brushes.jpg" hight="30" width="1260" class="img-fluid" alt="Responsive image"></center><br><br>
    <br>
    <br>


    <strong><h2><i>About Us</i></h2></strong><br>
    <p>
        <i><strong>Artisans club</strong> is a online art gallery. As we are facing this COVID pandemic situation, we decided to create
        a website for the people who loves art.<br><br>
        Here users can see artworks submit by other users as well as they can submit their own artwork. People have to sign-up so that
        they can visit our website. We have different blog regarding artistic things. Users can also post blogs written by them.
        We will arrange competitions depend on the occasions. Users can participate on these competitions by submitting their artworks.</i>

    </p>

    <div class="card-group">
      <div class="card">
        <img src="{% static "image/picture2.jpg" %}" class="card-img-top" alt="Covid image">
        <div class="card-body">
          <h5 class="card-title"><i>Image Topic</i></h5>
          <p class="card-text">
              <i>This picture represents the situation that is going through all over the world. The sacrifices our front line
                  works have given are shown here.</i>
          </p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static "image/picture3.jpg" %}" class="card-img-top" alt="music picture">
        <div class="card-body">
          <h5 class="card-title"><i>Image Topic</i></h5>
            <p class="card-text"><i>This image represents the musicians and their way of representing their work.</i></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img src="{% static "image/picture4.jpg" %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><i>Image Topic</i></h5>
            <p class="card-text"><i>The picture represents a local market. Where you can get live animal as well as veggies and others.</i></p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>



{% endblock content %}