{% extends 'Base.html' %}
{% load crispy_forms_tags %}
{% block content  %}


        <div class="card bg-light mb-2`" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="{{ search.art.url }}" class="card-img" alt="...">
            </div>

            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ search.id }}</h5>
                <p class="card-text">
                    <h4>Title: {{ search.title }} </h4><br>
                    <h5>Medium:</h5> {{ search.medium }} <br>
                    <h5>Category:</h5>{{ search.category }} <br>
                    <h5>Art Description:</h5> {{ search.art_description }} <br>
                </p>
                <p class="card-text"><small class="text-muted"></small></p>
{#  updatecart/product_id #}
                  <a href="" ></a>

              </div>
            </div>
          </div>
        </div>
{% endblock content %}